@font-face{
    font-family: Kenyan Coffee;
    src: url(./kenyan_coffee/kenyancoffee.otf);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Kenyan-coffee';
}
body{
    background: #F3F3F3;
}
.banner-top-wrapper{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 4rem;
    /* background-color: gray; */
}
.section-footer{
    position: absolute;
    bottom: -6%;
    z-index: 9999;
    width: 10rem;
    height: 15rem;
}
.section-mainBanner{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 95vh;
}

.banner-bg-img{
    background-image: url("./Assets/headerBG.png");
    background-position: center;
    background-repeat: no-repeat;
}
.heading{
    text-transform: uppercase;
    color: #272A5F;
    font-family: Kenyan Coffee !important;
    /* font-size: 2rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 8.5rem */
    margin-top: 4rem;
}

.head-desc{
    width: 35rem;
    height: 11.8rem;
    flex-shrink: 0;
    color: #3A3A3A;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 151.5%; /* 2.424rem */
    letter-spacing: 0.08rem;
    text-align: justify;
    margin-top: 2.6px;
}
.banner-bottom-Desc{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.banner-bottom-Desc-right{
    /* background-color: palevioletred; */
    margin-left: 3rem;
}
.banner-bottom-Desc-right h1{
    color: #272A5F;
    font-family: Kenyan Coffee;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 5.175rem */
}
.banner-bottom-Desc-right P{
    height: unset;
    width: unset;
    color: #3A3A3A;
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 115%; /* 2.76rem */
}

.overview-wrapper{
    padding: 4rem;
    background: lavender;
    height: 100vh; 
    width: unset;
}
.row{
    /* width: 100%; */
}
.overview-section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
background-color: aqua;
}
.overview-section1-left{
 width: 65%;
    background-color: aqua; 

}
.overview-section1-left span{
    color: rgba(39, 42, 95, 0.10);
font-family: Kenyan Coffee;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 11.5rem */
letter-spacing: 1rem;
}
.overview-section1-left h1{
    color: #272A5F;
    margin-top: -1.8rem;
font-family: Kenyan Coffee;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 5.98rem */
letter-spacing: 0.52rem;
}