@font-face {
  font-family: Kenyan Coffee;
  src: url(./kenyan_coffee/kenyancoffee.otf);
}
@font-face {
  font-family: Raleway;
  src: url(./raleway/Raleway-Light.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: "Kenyan-coffee","Raleway";
}
body {
  background: #f3f3f3;
}
.banner-top-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-top: 4rem;
}
.section-footer {
  position: absolute;
  bottom: -6%;
  z-index: 9999;
  width: 10rem;
  height: 15rem;
  
@media only screen and (max-width: 600px){
  display: none;
}
}
.section-mainBanner {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 95vh;
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.banner-bg-img {
  background-image: url("./Assets/headerBG.png");
  background-position: center;
  background-repeat: no-repeat;
  @media only screen and (max-width: 600px){
    background-size: contain;
  }
}
.heading {
  text-transform: uppercase;
  color: #272a5f;
  font-family: Kenyan Coffee !important;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 8.5rem */
  margin-top: 4rem;
}

.head-desc {
  width: 35rem;
  height: 11.8rem;
  flex-shrink: 0;
  font-family: Raleway;
  color: #3a3a3a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 151.5%; /* 2.424rem */
  letter-spacing: 0.08rem;
  text-align: justify;
  margin-top: 2.6px;
  @media only screen and (max-width: 600px){
    width: auto;
  }
}
.banner-bottom-Desc {
  display: flex;
  align-items: center;
}
.banner-bottom-Desc-right {
  margin-left: 3rem;
}
.banner-bottom-Desc-right h1 {
  color: #272a5f;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.175rem */
}
.banner-bottom-Desc-right P {
  height: unset;
  width: unset;
  color: #3a3a3a;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 115%; /* 2.76rem */
}

.overview-wrapper {
  padding: 4rem;
  background: lavender;
  height: auto;
  width: unset;
}

.overview-section1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media only screen and (max-width: 600px){
    flex-direction: column;
  }
}
.overview-section1-left {
  width: 65%;
  @media only screen and (max-width: 600px){
    width: 100%;
  }
}
.overview-section1-left span {
  color: rgba(39, 42, 95, 0.1);
  font-family: Kenyan Coffee;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.overview-section1-left h1 {
  color: #272a5f;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.52rem;
}
.overview-section1-left p {
  font-size: 16px;
  letter-spacing: 5%;
  text-align: justify;
  line-height: 24.24px;
  color: #3a3a3a;
  font-family: Raleway;
}

.problem-section {
  display: flex;
  justify-content: space-between;
}
.problem-section-left {
  width: 50%;
  padding-top: 1rem;
}
.problem-section-left img {
  margin-top: 3.6rem;
  margin-left: -0.5rem;
}
.problem-section-right span {
  color: rgba(39, 42, 95, 0.1);
  font-family: Kenyan Coffee;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.problem-section-right h1 {
  color: #272a5f;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.52rem;
}

.solution-section {
  display: flex;
  justify-content: space-between;
  margin-top: -4.5rem;
}
/* .solution-section-left {
} */
.solution-section-left h1 {
  color: #272a5f;
  /* margin-top: -1.8rem; */
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.52rem;
}

.solution-section-right img {
  width: 255px;
  height: 400px;
}

.design-process-wrapper {
  background-color: #272a5f;
  padding: 2rem;
  background-image: url("./Assets/dpbg.png");
  background-repeat: no-repeat;
  background-size: 250px 400px;
  background-position: left bottom;
}
.dprocess h1 {
  color: white;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.52rem;
}
.dprocess span {
  color: rgba(251, 251, 251, 0.08);
  font-family: Kenyan Coffee;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.dprocess-row1 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.dprocess-row1-items {
  width: 15rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dprocess-row1-items p {
  text-align: justify;
  text-align: center;
  font-size: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}
.dprocess-row2 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.dprocess-row2-items {
  width: 15rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dprocess-row2-items p {
  text-align: justify;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

.typography-wrapper {
  padding: 2rem;
  background-color: white;
}

.typography-container h1 {
  color: #272a5f;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.42rem;
}
.typography-container span {
  color: rgba(39, 42, 95, 0.1);
  font-family: Kenyan Coffee;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.font-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.font-container h6 {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  line-height: 115%;
}
.font-container h5 {
  color: #272a5f;
  font-size: 1rem;
  font-weight: 700;
  line-height: 115%;
  margin-left: 2rem;
}

.abc-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
}
.abc-container h2 {
  color: #272a5f;
  font-family: Kenyan Coffee;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 4.14rem */
  letter-spacing: 0.18rem;
  text-align: center;
}

.fontstyle-container {
  margin-top: -7rem;
  display: flex;
  align-items: flex-end;
}
.fontstyle-container-left {
  width: 50%;
}
.fontstyle-container-left b {
  color: rgba(39, 42, 95, 0.1);
  font-size: 20rem;
  font-weight: 600;
  line-height: 115%; /* 34.5rem */
}
.fontstyle-container-right {
  margin-bottom: 4rem;
}
.fontstyle-container-right h3 {
  color: #272a5f;
  font-size: 2rem;
  font-weight: 700;
  line-height: 115%; /* 2.76rem */
}
.fontstyle-container-right p {
  color: #999;
  font-family: Raleway;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 115%; /* 2.76rem */
}
.fontstyle-container-right pre {
  color: #5c5c5c;
  font-family: Raleway;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 115%; /* 2.3rem */
}
.onboarding-container {
  padding: 3rem;
  display: flex;
}
.onboarding-container-left {
  width: 50%;
}

.onboarding-container-left h1 {
  color: #272a5f;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.42rem;
}
.onboarding-container-left span {
  color: rgba(39, 42, 95, 0.1);
  font-family: Kenyan Coffee;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.onboarding-container-left p {
  color: #3a3a3a;
  font-size: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 151.5%; /* 2.424rem */
  letter-spacing: 0.024rem;
  margin-top: 4rem;
}

.home-container {
  padding: 2rem;
}
.home-container-top span {
  color: rgba(39, 42, 95, 0.1);
  font-family: Kenyan Coffee;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 115%; /* 11.5rem */
  letter-spacing: 10%;
}
.home-container-top h1 {
  color: #272a5f;
  margin-top: -1.8rem;
  font-family: Kenyan Coffee;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 115%; /* 5.98rem */
  letter-spacing: 0.42rem;
}
.home-container-bottom {
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  padding: 3rem;
  background-color: #272a5f;
  background-image: url("./Assets/ftbg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container img {
  width: 16rem;
  height: 16rem;
  flex-shrink: 0;
}
.footer-container h1 {
  color: #fff;
  text-align: center;
  font-family: Kenyan Coffee;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2.5rem;
}
.footer-container p {
  color: #fff;
  font-size: 1.5rem;
  font-family: Raleway;
  font-weight: 400;
  line-height: 142.5%; /* 3.5625rem */
}
